In [ ]:
import numpy as np
import pandas as pd
import sklearn as sk
import seaborn as sns

In [ ]:

b_c = pd.read_csv('/content/sample_data/breast cancer classification dataset.csv')
b_c

NameError: ignored

In [ ]:
b_c.isnull()

        id  diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    False      False  ...                    False         True
1    False      False  ...                     True         True
2    False      False  ...                    False         True
3    False      False  ...                    False         True
4    False      False  ...                    False         True
..     ...        ...  ...                      ...          ...
564  False      False  ...                    False         True
565  False      False  ...                     True         True
566  False      False  ...                    False         True
567  False      False  ...                    False         True
568  False      False  ...                    False         True

[569 rows x 33 columns]

In [ ]:
b_c.isnull().sum

<bound method DataFrame.sum of         id  diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    False      False  ...                    False         True
1    False      False  ...                     True         True
2    False      False  ...                    False         True
3    False      False  ...                    False         True
4    False      False  ...                    False         True
..     ...        ...  ...                      ...          ...
564  False      False  ...                    False         True
565  False      False  ...                     True         True
566  False      False  ...                    False         True
567  False      False  ...                    False         True
568  False      False  ...                    False         True

[569 rows x 33 columns]>

In [ ]:
b_c = b_c.drop(['fractal_dimension_worst'], axis = 1)
b_c = b_c.dropna(axis = 0,subset = ['radius_mean','diagnosis'])
b_c.shape

(560, 32)

In [ ]:
b_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560 entries, 1 to 568
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      560 non-null    int64
 1   diagnosis               560 non-null    object
 2   radius_mean             560 non-null    float64
 3   texture_mean            560 non-null    float64
 4   perimeter_mean          560 non-null    float64
 5   area_mean               560 non-null    float64
 6   smoothness_mean         560 non-null    float64
 7   compactness_mean        560 non-null    float64
 8   concavity_mean          560 non-null    float64
 9   concave points_mean     560 non-null    float64
 10  symmetry_mean           560 non-null    float64
 11  fractal_dimension_mean  560 non-null    float64
 12  radius_se               560 non-null    float64
 13  texture_se              560 non-null    float64
 14  perimeter_se            560 non-null    float64
 15  area_se                 560 non-null    float64
 16  smoothness_se           560 non-null    float64
 17  compactness_se          560 non-null    float64
 18  concavity_se            560 non-null    float64
 19  concave points_se       560 non-null    float64
 20  symmetry_se             560 non-null    float64
 21  fractal_dimension_se    560 non-null    float64
 22  radius_worst            560 non-null    float64
 23  texture_worst           560 non-null    float64
 24  perimeter_worst         560 non-null    float64
 25  area_worst              560 non-null    float64
 26  smoothness_worst        560 non-null    float64
 27  compactness_worst       560 non-null    float64
 28  concavity_worst         560 non-null    float64
 29  concave points_worst    560 non-null    float64
 30  symmetry_worst          560 non-null    float64
 31  Unnamed: 32             0 non-null      float64
dtypes: float64(30), int64(1), object(1)
memory usage: 144.4+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
b_c['diagnosis_enc'] = enc.fit_transform(b_c['diagnosis'])
print(b_c[['diagnosis' , 'diagnosis_enc']].head())

  diagnosis  diagnosis_enc
1         M              1
2         M              1
3         M              1
4         M              1
5         M              1

In [ ]:
from sklearn.model_selection import train_test_split

label = b_c.diagnosis
f = b_c.drop(columns = 'diagnosis')
label.head(5)
f.head(5)

         id  radius_mean  ...  Unnamed: 32  diagnosis_enc
1    842517        20.57  ...          NaN              1
2  84300903        19.69  ...          NaN              1
3  84348301        11.42  ...          NaN              1
4  84358402        20.29  ...          NaN              1
5    843786        12.45  ...          NaN              1

[5 rows x 32 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(f)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:375: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:376: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [ ]:
f_train = scaler.transform(f)
f_train_df = pd.DataFrame(f_train)
f_train_df.head()

         0         1         2         3   ...        28        29  30   31
0  0.000915  0.643144  0.272574  0.615783  ...  0.639175  0.233590 NaN  1.0
1  0.092495  0.601496  0.390260  0.595743  ...  0.835052  0.403706 NaN  1.0
2  0.092547  0.210090  0.360839  0.233501  ...  0.884880  1.000000 NaN  1.0
3  0.092559  0.629893  0.156578  0.630986  ...  0.558419  0.157500 NaN  1.0
4  0.000916  0.258839  0.202570  0.267984  ...  0.598282  0.477035 NaN  1.0

[5 rows x 32 columns]